<!DOCTYPE html>

<html>

<head>
    <title>Kadmin || Kafka Admin</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
</head>

<body>
    <div class="container py-5">
        <div class="masthead col-12 text-center">
            <h1>KADMIN</h1>
            <p>The Kafka Admin for the no-nonsense.</p>
            <div class="kafka-host text-center">
                <span>Connected to: </span><span class="fw-bold">http://0.0.0.0:9092</span> <i
                    class="bi bi-check-circle-fill" style="color:green"></i>
            </div>
        </div>
        <div class="content py-5">
            <div class="row">
                <div class="col-lg-6 my-3">
                    <div class="card" style="min-height: 50vh;">
                        <div class="card-header">
                            Producer
                        </div>
                        <div class="card-body">
                            <div class="mb-3">
                                <label for="exampleFormControlInput1" class="form-label">Topic Name</label>
                                <input class="form-control" id="exampleFormControlInput1"
                                    placeholder="Choose a topic name">
                            </div>
                            <div class="my-3">
                                <label for="exampleFormControlTextarea1" class="form-label">Message</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="8"></textarea>
                            </div>
                            <div class="my-3">
                                <button class="btn btn-primary col-12" id="producer-send-button" type="button">
                                    <span class="spinner-border spinner-border-sm d-none" id="spinner-element"
                                        role="status" aria-hidden="true"></span>
                                    <span>Send <i class="bi bi-send"></i></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 my-3">
                    <div class="card" style="min-height: 50vh;">
                        <div class="card-header">
                            Consumer
                        </div>
                        <div class="card-body">
                            <div class="mb-3">
                                <label for="exampleFormControlInput1" class="form-label">Topic Name</label>
                                <input class="form-control" id="exampleFormControlInput1"
                                    placeholder="Choose a topic name">
                            </div>
                            <div class="row my-3">
                                <div class="col-6">
                                    <button class="btn btn-primary col-12" id="consumer-sample-button" type="button">
                                        <span class="spinner-border spinner-border-sm d-none" id="spinner-element"
                                            role="status" aria-hidden="true"></span>
                                        <span>Sample <i class="bi bi-zoom-in"></i></button></span>
                                    </button>
                                    <div class="col-12 text-center">
                                        <span class="form-text">Sample one message from topic.</span>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <button class="btn btn-primary col-12 text-center" id="consumer-stream-button"
                                        type="button">
                                        <span class="spinner-border spinner-border-sm d-none" id="spinner-element"
                                            role="status" aria-hidden="true"></span>
                                        <span>Stream <i class="bi bi-ear"></i></button></span>
                                    </button>
                                    <div class="col-12 text-center">
                                        <span class="form-text">Allows you to keep listening.</span>
                                    </div>
                                </div>
                            </div>
                            <div class="my-3">
                                <label for="exampleFormControlTextarea1" class="form-label">Message</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="7"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer text-center">
            <i class="bi bi-github"></i>
            <a href="https://github.com/yukalangbuana/kadmin">https://github.com/yukalangbuana/kadmin</a>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {
            $('#producer-send-button').click(function () {
                $('#producer-send-button > #spinner-element').removeClass('d-none');
            });

            $('#consumer-sample-button').click(function () {
                $('#consumer-sample-button > #spinner-element').removeClass('d-none');
            });

            $('#consumer-stream-button').click(function () {
                $('#consumer-stream-button > #spinner-element').removeClass('d-none');
            });
        });
    </script>
</body>

</html>